* {box-sizing: border-box}

.right {
    position: absolute;
    right: 0px;
    width: 100px;
    padding: 10px;
}

.left {
    position: absolute;
    left: 0px;
    width: 100px;
    padding: 10px;
}

.bg {
    /* The image used */
    background-image: url("diamond_head.jpg");

    /* Full height */
    height: 100%;
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full {
    height: 100%;
    width: 100%;
}

.top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.acc_menu { /* vertical navigation bar */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 160px;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a.acc_item:hover {
    background-color: #111;
    width: 160px;
}

.header-title {
    text-decoration: underline;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

/* general button design*/


/* specific button modifications */
#login:hover {
  background-color: white;
  font-style: italic;
  color: black;
}
#signup:hover {
  background-color: white;
  font-style: italic;
  color: black;
}
#review:hover {
  background-color: white;
  font-style: italic;
  color: black;
}

h1 {
  font-family: Georgia, serif;
  font-style: italic;
}

body {
  background: #add8e6;
  background: linear-gradient(90deg, rgba(153,255,255,1) 0%, rgba(153,255,153,1) 35%, rgba(0,212,255,1) 100%);
  border-style: dashed;
  border-radius: all;
}

.rightt {
  position: absolute;
  right: 25px;
  width: 100px;
  padding: 10px;
}

.leftt {
  position: absolute;
  left: 25px;
  width: 100px;
  padding: 10px;
}
.top-btn {
  position: absolute;
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}
.navbar {
  width: 100%;
  background-color: rgb(34, 32, 32);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23.4%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: black;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
